.form - control
{
  display: block;
  width: 50 % ;
  height: 34 px;
  padding: 6 px 12 px;
  font - size: 14 px;
  line - height: 1.42857143;
  color: #555555;
  background-color: # fff;
  background - image: none
}