.vcenter {
  margin-top: 200px;
}

.leftcenter {
  margin-left: 550px;
}

.leftcenter {
  margin-left: 550px;
}
.header
{
margin-top: 33px !important;
margin-bottom: 1px !important;
font-size: 24px !important;
color: inherit !important;
}

.back-ground
{
    background: image-url('bg.jpg');
}
.body
{
bgcolor: "#E6E6FA";
}