.vcenter {
  margin-top: 200px;
}

.leftcenter {
  margin-left: 550px;
}

.leftcenter {
  margin-left: 550px;
}
.header
{
margin-top: 33px !important;
margin-bottom: 1px !important;
font-size: 24px !important;
color: inherit !important;
}
.img{
  background-image: asset-url('background.jpg');
 	width:1000px;
 	height:1px;
  background-repeat: no-repeat;
}
.home_img {
  margin-top: 50px;
  
}
.home_space {
  margin-top: 30px;
   bgcolor: "#FFFFFF";
   margin-left: -140px;
}

.c1
{
	color: red !important;
}