<div class="container">
  <div class>
    <% if admin_signed_in? %>
      <h1>welcome Admin <%=current_admin.email%></h1>
      <%=l ink_to "Logout", destroy_admin_session_path, :method=> :delete %>
        <%=l ink_to "Add Teacher", new_teachers_path%>
          <%=l ink_to "list teachers", admin_teacher_list_path%>
            <%end%>
  </div>
</div>