<div class="container">
	<div class>
<% if admin_signed_in? %>
  <h1>welcome Admin <%=current_admin.email%></h1>

<%= link_to "Logout",  destroy_admin_session_path, :method => :delete   %>
<%= link_to "Add Teacher", new_teachers_path%>
<%= link_to "list teachers", admin_teacher_list_path%>
<%end%>
</div>

