<div class="col-md-2 ">
                   <%= form_for :search_by_subject, :url => {:controller => 'teachers', :action => 'list'},class:"navbar-form", :html => {:method => 'get'} do |f| %>
                    <div class="input-group">
                 <%= text_field_tag 'query', nil, class: "form-control", placeholder: "search",title: "Enter Standard_id or Enrollment_no"%>
                   
                  <span class="input-group-btn">
                <button class="btn btn-default" type="button" ><i class="glyphicon glyphicon-search" title="View"></i></button>
              </div>
                <% end %>
             </div>