<div class="container">
	<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <i class="glyphicon glyphicon-plus"></i>&nbsp;Add test</h3>
        </div>
        <div class="panel-body">
    		<%=render 'form' %>
		</div>
	</div>
</div>