<div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/logo.png" alt="Performance Analyser"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right mainNav">
          <li class="c1"><%= link_to "Admin Login",new_admin_session_path%></li>
          <li class="c2"><%= link_to "Teacher Login",new_teacher_session_path%></li>
          <li class="c3"><%= link_to "Student Login",new_student_session_path%></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>